<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Bouncing Ball</title>
</head>
<body>
    <div id="room">
        <div id="ball"></div>
    </div>
    <script type="text/javascript">
        // Room and Ball Dimension Initialization
        let roomWidth = 600;
        let roomHeight = 500;
        let ballWidth = 50;
        let ballHeight = 50;

        //Dynamically create ball and room size with style property
        let room = document.getElementById('room');
        room.style.width = roomWidth + 'px';
        room.style.height = roomHeight + 'px';

        let ball = document.getElementById('ball');
        ball.style.width = ballWidth + 'px';
        ball.style.height = ballHeight + 'px';

        //Initializing Ball Physics

        //Starting Position
        let ballX = 0;
        let ballY = 0;
        //Starting Speed
        let ballYSpeed = 0;
        let ballXSpeed = 0;
        //Account for Gravity
        let gravity = 0.3;

        //Move Ball with function using initialized variables
        function moveBall () {
            ballYSpeed += gravity;
            ballX += ballXSpeed;
            ballY += ballYSpeed;


            ball.style.top = ballY + 'px';

            if (ballY + ballHeight > roomHeight) {
                if(ballY + ballHeight > roomHeight) {
                    ballY = roomHeight - ballHeight;
                }
                ballYSpeed *= -0.85;
            }
            ball.style.top = ballY + 'px';
        }

        setInterval(moveBall, 10);

    </script>
</body>
</html>