body {
    height: 1500px;
    position: relative;
}


li {
    padding: 10px;
    list-style: none;
    display: inline;
}

nav {
    width: 100%;
    height: 40px;
    text-align: center;
    padding: 10px;
}

#navbar1 {
    background-color: pink;
    position: fixed;
}

#navbar2 {
    background-color: lightblue;
    position: relative;
    top: 150px;
}

#navbar3 {
    background-color: orange;
    position: absolute;
    bottom: 150px;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: blanchedalmond;
}

