body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "myHeader myHeader myHeader"
      "sidenav someContent someContent";
  }
  header {
    background-color: lightgreen;
    padding: 36px;
    grid-area: myHeader;
  }
  nav {
    background-color: #DDFFDD;
    padding: 36px;
    grid-area: sidenav;
  }
  main {
    padding: 36px;
    grid-area: someContent;
    height: 100vh;
  }
  
  @media screen and (max-width: 600px) {
    body {
      grid-template-columns: 1fr;
      grid-template-areas:
        "myHeader"
        "sidenav"
        "someContent";
    }
    header,
    nav,
    main {
      padding: 18px;
    }
    header,
    nav {
      text-align: center;
    }
    header h1 {
      font-size: 24px;
      margin: 0px;
    }
  }