body {
  background-color: skyblue;
}
#fish {
  transition: 1.5s;
  transition-delay: 0.75s;
  transform-origin: 50% 50%;
  display: block;
  width: 60%;
  margin: 100px auto;
}
#fish:hover {
  transform: scale3d(1.5, 1.5, 5);
}
