body {
    margin: 0;
}

#myGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: 
    "sideNav myHeader myHeader"
    "sideNav someContent someContent"
    "sideNav footer footer";
    height: 100vh;
}


header {
    background-color: lightgreen;
    grid-area: myHeader;
}

nav {
    background-color: aqua;
    grid-area: sideNav;
}

main {
    background-color: purple;
    grid-area: someContent;
}

footer {
    background-color: yellow;
    grid-area: footer;
}