body {
    margin: 0;
    background-color: aquamarine;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: plum;
}

#content {
    margin: 5%;
}
