/* Google Font API imports - found at https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Secular+One&display=swap');

/*****************************************************************************
  Heading, Link, and Misc. Styles
*****************************************************************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
 
h1,
h2,
h3{
  font-family: 'Secular One', sans-serif;
}

h4,
p {
  font-family: 'Assistant', sans-serif;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

h4 {
  font-size: 18px;
  margin-top: 4px;
}


/****************************************************************************
  Grid styles
****************************************************************************/
#siteGrid {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "navArea navArea navArea"
    "heroArea heroArea heroArea"
    ". threeCardsArea ."
    ". galleryArea ."
    ". twoCardsArea ."
    "footerArea footerArea footerArea";
}
nav {
  grid-area: navArea;
}

#threeCards {
  grid-area: threeCardsArea;
}
#gallery {
  grid-area: galleryArea;
}
#twoCards {
  grid-area: twoCardsArea;
}


/****************************************************************************
  Gallery styles
****************************************************************************/
#gallery {
  text-align: center;
}

#gallery1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#gallery1 img {
  width: 100%;
}

#gallery2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#gallery2 img {
  /* for the 1000px width */
  /* height: 333.3px;
  width: 333.3px; */

  /* for the 800px width */
  height: 266.6px;
  width: 266.6px;
  object-fit: cover;
}

#gallery3 {
  columns: 3 auto;
  column-gap: 24px;
}

#gallery3 img {
  width: 100%;
  margin-bottom: 24px;
}

/****************************************************************************
  Media Query - Mobile Breakpoint
****************************************************************************/
@media screen and (max-width: 800px) {
  #siteGrid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navArea"
      "heroArea"
      "threeCardsArea"
      "galleryArea"
      "twoCardsArea"
      "footerArea";
  }
  nav,
  #threeCards,
  #twoCards {
    flex-direction: column;
  }

  #gallery1,
  #gallery2 {
    grid-template-columns: 1fr;
  }

  #gallery2 img {
    width: 100%;
    height: auto;
  }

  #gallery3 {
    columns: 2 auto;
  }
}
