body {
    background-image: url(https://png.pngtree.com/background/20210715/original/pngtree-optical-illusion-psychedelic-texture-background-picture-image_1306569.jpg);
}

h1 {
    color: white;
    background-color: red;
    text-align: center;
}

/* Header */

#header{
    background-color: aqua;
    height: 100px;
}

a {
    color: black;
    text-decoration: none;
}


a:hover {
    color: white;
}

/* Sections */

.chunk {
    background-color: chartreuse;
    padding: 20px;
}

#image-div p {
    color: blue;
}




/* Specificity */
/* # refers to an id, which is a specific name of an element. Only one id per page */
/* . refers to a class which is a group of elements. */