table {
    background-color: rgba(116, 255, 255, 0.432);
    border: 1px solid black;
}

th {
    padding: 5px;
    border: 1px solid blue;
}

tr {
    text-align: left;
}

td{
    border: 1px solid blue;
    padding: 35px 45px 35px 45px;
    text-align: left;
}

tbody {
    text-align: left;
}

td:hover {
    background-color: lightblue;
}