@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, p {
    text-align: center;
}
h1 {
    color: blue;
}
fieldset {
    background-color: #fff;
    text-align: center;
    margin: 2em;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}
input, select {
    padding: 10px;
    margin: 5px;
}

select {
    width: 145px;
}

#fN, #lN {
    width: 200px;
}
#email, #pw {
    width: 438px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px 40px;
    display: inline-block;
    margin: 15px;
    border-radius: 10px;
    background-color: rgb(11, 152, 28);
    color: #fff;
}

.btn:hover {
    background-color: rgb(9, 123, 23);
}

label {
    font-size: 14px;
}