@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  margin: 0;
  background-color: lightblue;
}

ul {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}

li {
  padding: 10px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: lightblue;
  border-radius: 4px;
  padding: 5px;
}

nav {
  background-color: aliceblue;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  border: 2px gray solid;
}

#home {
  margin-right: auto;
}

.fa-solid {
  color: gray;
}

/* Media Query */
@media (max-width: 768px) {
  body {
    background-color: white;
  }

  nav {
    background-color: black;
  }

  a {
    color: white;
  }

  a:hover {
    background-color: gray;
  }

  ul {
    flex-direction: column;
  }

  .fa-solid {
    color: white;
  }
}
